<div id="clients">
  <div class="overlay">
      <div class="container">
          <div class="row text-center">
              <div class="col-md-12" data-scroll-reveal="enter from the bottom after 0.2s">
                  <div class="carousel slide clients-carousel" id="clients-slider">
                      <div class="carousel-inner">
                          <div class="item active">
                              <div class="row">
                                  <div class="col-md-3">
                                      <a class="thumbnail" href="#">
                                          <img src="{{root_path}}./themeforest.png" alt="" />
                                      </a>
                                  </div>
                                  <div class="col-md-3">
                                      <a class="thumbnail" href="#">
                                          <img src="{{root_path}}./facebook.png" alt="" />
                                      </a>
                                  </div>
                                  <div class="col-md-3">
                                      <a class="thumbnail" href="#">
                                          <img src="{{root_path}}./google.png" alt="" />
                                      </a>
                                  </div>
                                  <div class="col-md-3">
                                      <a class="thumbnail" href="#">
                                          <img src="{{root_path}}./graphic.png" alt="" />
                                      </a>
                                  </div>
                              </div>
                          </div>
                          <div class="item">
                              <div class="row">
                                  <div class="col-md-3">
                                      <a class="thumbnail" href="#">
                                          <img src="{{root_path}}./themeforest.png" alt="" />
                                      </a>
                                  </div>
                                  <div class="col-md-3">
                                      <a class="thumbnail" href="#">
                                          <img src="{{root_path}}./facebook.png" alt="" />
                                      </a>
                                  </div>
                                  <div class="col-md-3">
                                      <a class="thumbnail" href="#">
                                          <img src="{{root_path}}./google.png" alt="" />
                                      </a>
                                  </div>
                                  <div class="col-md-3">
                                      <a class="thumbnail" href="#">
                                          <img src="{{root_path}}./graphic.png" alt="" />
                                      </a>
                                  </div>
                              </div>
                          </div>
                          <div class="item">
                              <div class="row">
                                  <div class="col-md-3">
                                      <a class="thumbnail" href="#">
                                          <img src="{{root_path}}./themeforest.png" alt="" />
                                      </a>
                                  </div>
                                  <div class="col-md-3">
                                      <a class="thumbnail" href="#">
                                          <img src="{{root_path}}./facebook.png" alt="" />
                                      </a>
                                  </div>
                                  <div class="col-md-3">
                                      <a class="thumbnail" href="#">
                                          <img src="{{root_path}}./google.png" alt="" />
                                      </a>
                                  </div>
                                  <div class="col-md-3">
                                      <a class="thumbnail" href="#">
                                          <img src="{{root_path}}./graphic.png" alt="" />
                                      </a>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <a data-slide="prev" href="#clients-slider" class="left carousel-control">‹</a>
                      <a data-slide="next" href="#clients-slider" class="right carousel-control">›</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- CLIENTS SECTION END  -->
