<section id="team">
  <div class="container">

      <div class="row text-center" data-scroll-reveal="enter from the bottom after 0.2s">
          <div class="col-md-6 col-md-offset-3 pad-bottom">
              <h2><strong>AWESOME TEAM</strong></h2>
              Consectetur adipiscing elit felis dolor felis dolor vitae.Eelit felis dolor vitae

          </div>
      </div>
      <div class="row pad-bottom" data-scroll-reveal="enter from the bottom after 0.4s">

          <div class="col-md-6 col-sm-6">
              <div class="media">
                  <a class="media-left" href="#">
                      <img src="{{root_path}}./1.jpg" alt="" class="img-circle" />
                  </a>
                  <div class="media-body">
                      <h3 class="media-heading">Technical Director</h3>
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
     3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-sm-6">
              <div class="media">
                  <a class="media-left" href="#">
                      <img src="{{root_path}}./2.jpg" alt="" class="img-circle" />
                  </a>
                  <div class="media-body">
                      <h3 class="media-heading">Marketing Director</h3>
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
     3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                  </div>
              </div>
          </div>
      </div>

      <div class="row" data-scroll-reveal="enter from the bottom after 0.6s">

          <div class="col-md-6 col-sm-6">
              <div class="media">
                  <a class="media-left" href="#">
                      <img src="{{root_path}}./3.jpg" alt="" class="img-circle" />
                  </a>
                  <div class="media-body">
                      <h3 class="media-heading">Clients Manager</h3>
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
     3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-sm-6">
              <div class="media">
                  <a class="media-left" href="#">
                      <img src="{{root_path}}./4.jpg" alt="" class="img-circle" />
                  </a>
                  <div class="media-body">
                      <h3 class="media-heading">Support Director</h3>
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
     3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                  </div>
              </div>
          </div>
      </div>

  </div>
</section>
<!-- TEAM SECTION END -->
