<div id="header">
  <div class="overlay">
      <div class="container">
          <div class="row scroll-me">
              <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 text-center ">

                  <h1 data-scroll-reveal="enter from the bottom after 0.2s">Lorem Ipsum is simply dummy text
                  </h1>

                  <h4 data-scroll-reveal="enter from the bottom after 0.4s">orem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

                  </h4>
                  <a data-scroll-reveal="enter from the bottom after 0.6s" href="#" class="btn btn-danger set-bk-clr">Explore More With Us</a>
              </div>
          </div>
      </div>
  </div>

</div>
<!--HEADER SECTION END  -->
